@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins';
}

html {
  scroll-behavior: smooth;
}

body {
  background: linear-gradient(to right, #2193B0, #6dd5ed);
  z-index: -101;
  overflow-x: hidden;
}

.App {
  min-height: 100vh;
  width: 100%;
}

.navItem {
  @apply relative
} 

.navItem::after {
  @apply content-[''] bg-white h-[2px] w-0 left-0 bottom-[2px] rounded-xl absolute duration-200 
}

.navItem:hover::after {
  @apply w-full
}

.icons { 
  @apply h-6 w-6 text-white hover:scale-125 transition-all mr-2 duration-200
}

#tsparticles {
  width: 100%;
  height: 100vh;
}

.sectionHead {
  @apply text-[56px] font-bold text-[#155d70] mb-4 max-[425px]:text-4xl
}

.cssGrid {
  grid-template-columns: 40% 1fr;
  place-items: center;
}

.cssGrid2 {
  grid-template-columns: 3fr 7fr;
}

.anchor {
  display:block;
  height: 75px; /* this is the height of your header */
  margin-top:-75; /* this is again negative value of the height of your header */
  visibility:hidden;
}

.fadeIn {
  animation: .3s ease-in-out fade;
}

.fadOut {
  animation: .3s ease-in-out fadeO;
}

@keyframes fade {
  0% {opacity: 0;}
  100% {opacity: 1;}
}

@keyframes fadeO {
  0% {opacity: 1;}
  100% {opacity: 0;}
}

.inputs {
  @apply w-[49%] p-3 h-[50px] rounded-lg border-[1px] border-black focus:ring-2 ring-[#1d819b] focus:outline-none max-xl:w-full max-xl:mb-4
}

.header {
  @apply w-screen fixed top-0  h-[75px] justify-between flex items-center text-white z-50
}